.Button {
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: var(--color-primary-container);
    color: white;

    font-size: 12px;
    font-family: sans-serif;
    cursor: pointer;
    font-weight: var(--font-weight-regular);

    width: 90px;
    height: 40px;

    &:hover {
        transition: all .3s ease;
        background-color: var(--color-primary);
    }
}

